* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 5rem;
  font-weight: 800;
}

/* INGAME CSS*/

main {
  position: relative;
  animation: background-scroll 35s linear infinite;
  /* background: url('https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80'),
    #111111; */
  background: url('../imgs/milad-fakurian-58Z17lnVS4U-unsplash.jpg'), #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  background-position: center;
  background-size: cover;
}

button {
  cursor: pointer;
  font-size: 3.5rem;
  font-weight: 600;
  padding: 35px;
  transition: all 0.5s;
  background-color: rgb(241, 225, 193);
}

.trys {
  width: 40%;
  text-align: center;
  margin: 0 auto 30px auto;
  color: #ebe3df;
  font-weight: 600;
  padding: 10px;
  background-color: rgba(87, 79, 79, 0.5);
}

.display {
  letter-spacing: 30px;
  font-size: 9rem;
  margin: 60px 0.5vw;
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.button-hover:hover {
  background-color: #fff800;
  transform: scale(1.1);
}

button:disabled {
  background-color: tomato;
  transform: scale(0.85);
  cursor: default;
}

aside .start,
aside .lost-message,
nav .lost-message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

aside .start .center {
  background-color: line;
  width: 55%;
  height: 55%;
  /* background: rgb(113, 32, 7);
  background: linear-gradient(90deg, rgba(113, 32, 7, 1) 0%, rgba(213, 191, 15, 1) 100%); */
  background: linear-gradient(-45deg, #e27d5e, #833bd4, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: game-intro 12s ease infinite;
  border-radius: 25px;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

aside .start .center h1 {
  color: #160f0d;
  font-size: 6rem;
  font-weight: 800;
  padding-bottom: 10px;
}

.display {
  overflow: hidden;
}

aside .start .center select,
aside .start .center button,
.lost-message button,
main .display button {
  text-align: center;
  margin: 25px auto;
  cursor: pointer;
  appearance: none;
  width: 40%;
  padding: 20px;
  background-color: greenyellow;
  font-size: 2.5rem;
  border: none;
}

.lost-message button {
  position: fixed;
}

aside .start .center div {
  position: relative;
}

.footer-error {
  position: fixed;
  bottom: 10%;
  z-index: 20;
  left: 0;
  width: 100%;
}

.error-arrow,
.thumb-up {
  display: none;
  font-size: 6.5rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

aside .start .center select:hover,
aside .start .center button:hover,
nav .lost-message button:hover,
main .display button:hover {
  background-color: rgb(209, 245, 154);
}

.headline {
  position: absolute;
  top: 0;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  z-index: 20;
}

.animate-headline {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #0e7e33 0%, #171577 29%, #a72319 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-game-name 2s linear infinite;
  display: inline-block;
  font-size: 20rem;
}

.error {
  border: 5px solid red !important;
}

nav .lost-message {
  display: none;
  flex-direction: column;
  font-size: 20rem;
  text-align: center;
  color: red;
  animation: animate-lost-game 0.5s linear;
  padding-top: 5%;
}

footer {
  margin: 0 auto;
  width: 200px;
}

footer p {
  position: fixed;
  background-color: rgba(78, 70, 70, 0.75);
  font-size: 1rem;
  color: white;
  padding: 5px 10px;
  bottom: 0;
  text-align: center;
  z-index: 30;
  margin: 0 auto;
}

@keyframes animate-lost-game {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes animate-game-name {
  to {
    background-position: 200% center;
  }
}

@keyframes game-intro {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes background-scroll {
  0% {
    background-position: 0px 90%;
  }
  50% {
    background-position: 0px 20%;
  }
  100% {
    background-position: 0px 90%;
  }
}
