* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: PlayFairDisplay, Arial, Helvetica, sans-serif;
  src: url('../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

.container {
  background-color: #edf0e2;
  position: relative;
  width: 100%;
  height: 100vh;
}

.left-side,
.right-side {
  position: absolute;
  width: 50%;
}

.right-side img {
  width: 75%;
  height: 75%;
}

.right-side {
  right: 0;
}
.left-side {
  top: 25%;
  left: 10%;
}

.left-side h1,
p {
  width: 25%;
  margin-bottom: 2%;
}

.left-side h1 {
  font-family: PlayFairDisplay;
  font-size: clamp(1rem, 2vw, 3rem);
}

.left-side p {
  font-family: Poppins;
  font-size: 1rem;
}

.left-side a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 15%;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #ffaa36;
  padding: 1%;
}
