@font-face {
  font-family: Roboto;
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: PlayFairDisplay;
  src: url('../fonts/Roboto-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* ! FONT FAMILIES */
h1,
.formular p {
  font-family: PlayFairDisplay, Arial, Helvetica, sans-serif;
}

.container {
  background-color: #808080;
  padding: 2% 0 2% 3%;
  width: 100%;
}

.content {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.image-bg,
.formular {
  width: 50%;
  height: 859.49px;
}

.image-bg img {
  height: 100%;
  width: 100%;
}

.formular {
  text-align: center;
  padding: 100px 0;
  position: relative;
}

.formular h1 {
  font-size: 4rem;
  font-weight: bold;
  padding: 0 151px;
  margin-bottom: 50px;
}

.formular p {
  margin-bottom: 85.62px;
  padding: 0 146.64px;
  font-size: 1.92rem;
}

.formular .form {
  margin-bottom: 20.6px;
}

.form .email {
  margin-bottom: 52.5px;
  padding: 0 70px;
}

.form .email input {
  font-family: Times, Arial, Helvetica, sans-serif;
  appearance: none;
  border: none;
  border-bottom: 1px solid #333333;
  width: 100%;
  text-align: center;
  font-size: 1.33rem;
  letter-spacing: 6.4px;
}

/* .button input {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 1% 8%;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 3.2px;
} */

input[type='checkbox']:hover {
  background-color: #fff;
  /* color: #000; */
  border: 1px solid #000;
}
input[type='checkbox']:hover + .checkbox-text {
  color: #000;
  cursor: pointer;
}

.heart-icon {
  color: red;
}

input[type='checkbox']:checked + .thanks {
  display: block;
}

input[type='checkbox'] {
  appearance: none;
  padding: 3.5% 18%;
  /* position: absolute; */
  right: 137px;
  background-color: #333;
}

.checkbox-text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: absolute;
  color: #b7ff00;
  right: 170px;
  bottom: 73px;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 3.2px;
}

.thanks {
  margin-top: 20.6px;
  display: none;
}
