* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

main {
  background-color: #fbfbfb;
}

h1 {
  text-align: center;
  margin-top: 25px;
  font-size: 2rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 30px 30vw;
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 20px;
}

.form input {
  padding: 5px;
}

.form input[type='submit'] {
  grid-column: 1/-1;
  width: 35%;
  margin: 0 auto;
  align-self: center;
  background-color: white;
  transition: all linear 0.5s;
}

.form input[type='submit']:hover,
.item div a:hover {
  background-color: green;
  color: wheat;
}

.output {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 10px 5vw;
}

.output #load-more {
  padding: 25px;
  text-align: center;
  column-gap: 1/-1;
  grid-column: 1/-1;
  background-color: blanchedalmond;
  cursor: pointer;
}

.output #load-more:hover {
  background-color: rgb(135, 106, 62);
}

.item {
  padding: 20px;
  border: 2px solid black;
  display: none;
  transition: all linear 0.25s;
  box-shadow: 0 4px 10px black;
}

.item:hover {
  transform: scale(1.02);
}

.item h2 {
  font-weight: 800;
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.75rem;
}

.item p {
  font-size: 1.5rem;
}

.item img {
  width: 100%;
  height: auto;
  margin: 25px auto;
}

.item div {
  margin: 0 10vw;
}

.item div a {
  width: 150px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.loader {
  width: 50%;
  grid-column: 1/-1;
}

.loader img {
  width: 100%;
}
