* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: MavenPro;
  src: url('../assets/fonts/MavenPro-VariableFont_wght.ttf');
}
@font-face {
  font-family: GildaDisplay;
  src: url('../assets/fonts/GildaDisplay-Regular.ttf');
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

header {
  font-family: MavenPro;
  background-color: #333333;
  width: 100%;
  height: 350px;
  height: 80vh;
}

.company-name {
  width: 10%;
  font-size: 0.75rem;
  color: #949494;
  letter-spacing: 5px;
}

.company-name p:first-child {
  padding-top: 10%;
  padding-left: 10%;
}
.company-name p:last-child {
  padding-left: 25%;
}

.company-logo {
  border-radius: 8px;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 255, 0.47) 20%,
    rgba(39, 39, 240, 0.88) 50%,
    #48cefa 100%
  );
  border-radius: 10px;
  color: white;
  width: 9vw;
  height: 18vh;
  margin: 5% auto;
  text-align: center;
}

.company-logo:hover {
  background: linear-gradient(
    45deg,
    #48cefa 20%,
    rgba(39, 39, 240, 0.88) 50%,
    rgba(255, 0, 255, 0.47) 100%
  );
}

.company-logo p {
  padding: 3%;
}
.company-logo p:nth-child(1),
.company-logo p:nth-child(2) {
  /* font-size: 2.5rem; */
  font-family: GildaDisplay;
  font-size: clamp(0.75rem, 1.5vw, 2.5rem);
}

.company-navigation {
  float: right;
  color: #949494;
  width: 10%;
  text-align: right;
}

.company-navigation p {
  padding: 3% 10%;
}

.company-navigation p:hover {
  color: white;
  text-shadow: 0 0 5px white;
}

.wrapper {
  font-family: Times, Arial, Helvetica, sans-serif;
  width: 95%;
  margin: 15% auto;
}

.wrapper h1 {
  color: gray;
  font-size: 9rem;
  opacity: 0.05;
}

.wrapper > h2 {
  font-size: 3rem;
  margin-top: -35px;
}

.wrapper > p {
  font-family: MavenPro;
  width: 50%;
  margin-top: 3%;
}

.content {
  width: 60%;
  margin: 5% auto;
  padding: 1%;
}

.content img {
  width: 100%;
}

.content h2 {
  margin-top: 3%;
}

.content p {
  margin-top: 1%;
}
