* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image-gallery img:hover {
  transform: scale(1.1);
  filter: grayscale(1);
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.image-gallery img {
  width: 30%;
}

@media only screen and (max-width: 768px) {
  .image-gallery img {
    width: 45%;
  }
}

@media only screen and (max-width: 576px) {
  .image-gallery img {
    width: 100%;
  }
}
