.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .frame-wrapper {
  background-color: #ffffff;
  width: 1152px;
  height: 1753px;
}

.desktop .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  position: relative;
}

.desktop .group {
  position: relative;
  width: 1152px;
  height: 80px;
}

.desktop .div {
  position: relative;
  height: 80px;
}

.desktop .group-2 {
  position: absolute;
  width: 194px;
  height: 33px;
  top: 23px;
  left: 80px;
}

.desktop .text-wrapper {
  position: absolute;
  top: 0;
  left: 38px;
  font-family: 'Nunito', Helvetica;
  font-weight: 700;
  color: #3e3f43;
  font-size: 24px;
  letter-spacing: 6px;
  line-height: normal;
}

.desktop .img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1px;
  left: 0;
}

.desktop .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 48px;
  position: absolute;
  top: 20px;
  left: 387px;
}

.desktop .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: 'Nunito', Helvetica;
  font-weight: 800;
  color: #daa520;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: 'Nunito', Helvetica;
  font-weight: 400;
  color: #222222bf;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-group-wrapper {
  position: relative;
  width: 139px;
  height: 40px;
  margin-right: -2px;
}

.desktop .overlap-group {
  position: relative;
  width: 137px;
  height: 40px;
  background-color: #f9bdbd;
  border-radius: 8px;
  border: 1px solid;
  border-color: #3e3f43;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 8px;
  left: 35px;
  font-family: 'Nunito', Helvetica;
  font-weight: 700;
  color: #3e3f43;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-3 {
  position: relative;
  width: 952px;
  height: 978px;
}

.desktop .group-4 {
  position: absolute;
  width: 952px;
  height: 840px;
  top: 138px;
  left: 0;
}

.desktop .frame-3 {
  display: inline-flex;
  align-items: center;
  gap: 56px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.desktop .overlap-wrapper {
  position: relative;
  width: 282px;
  height: 400px;
}

.desktop .div-2 {
  position: relative;
  width: 280px;
  height: 400px;
  background-image: url(../images/rectangle-7.svg);
  background-size: 100% 100%;
}

.desktop .div-wrapper {
  position: absolute;
  width: 125px;
  height: 40px;
  top: 336px;
  left: 141px;
}

.desktop .overlap-group-2 {
  width: 123px;
  background-image: url(../images/rectangle-6-1.svg);
  background-size: 100% 100%;
  position: relative;
  height: 40px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 8px;
  left: 19px;
  font-family: 'Nunito', Helvetica;
  font-weight: 600;
  color: #3e3f43;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: 'Nunito', Helvetica;
  font-weight: 800;
  color: #3e3f43;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .konfest-PNG-JPG {
  position: absolute;
  width: 246px;
  height: 224px;
  top: 88px;
  left: 0;
}

.desktop .overlap {
  position: relative;
  width: 280px;
  height: 400px;
  background-image: url(../images/rectangle-8.svg);
  background-size: 100% 100%;
}

.desktop .overlap-group-3 {
  width: 123px;
  background-image: url(../images/rectangle-6.svg);
  background-size: 100% 100%;
  position: relative;
  height: 40px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: 'Nunito', Helvetica;
  font-weight: 800;
  color: #3e3f43;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .soft-pad-dining {
  position: absolute;
  width: 165px;
  height: 235px;
  top: 83px;
  left: 57px;
}

.desktop .overlap-2 {
  position: relative;
  width: 280px;
  height: 400px;
  background-image: url(../images/rectangle-6-3.svg);
  background-size: 100% 100%;
}

.desktop .overlap-group-4 {
  width: 123px;
  background-image: url(../images/rectangle-6-2.svg);
  background-size: 100% 100%;
  position: relative;
  height: 40px;
}

.desktop .img-2 {
  position: absolute;
  width: 181px;
  height: 200px;
  top: 100px;
  left: 49px;
}

.desktop .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 56px;
  position: absolute;
  top: 440px;
  left: 2px;
  overflow: hidden;
}

.desktop .group-5 {
  position: relative;
  width: 250px;
  height: 352px;
  top: 24px;
  left: 16px;
}

.desktop .group-6 {
  position: absolute;
  width: 125px;
  height: 40px;
  top: 312px;
  left: 125px;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Nunito', Helvetica;
  font-weight: 800;
  color: #3e3f43;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .kissclipart-shelf {
  position: absolute;
  width: 149px;
  height: 235px;
  top: 55px;
  left: 50px;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 24px;
  left: 40px;
  font-family: 'Nunito', Helvetica;
  font-weight: 800;
  color: #3e3f43;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .vintage-radio-PNG {
  position: absolute;
  width: 235px;
  height: 139px;
  top: 130px;
  left: 23px;
  object-fit: cover;
}

.desktop .group-7 {
  position: absolute;
  width: 956px;
  height: 98px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 498px;
  font-family: 'Nunito', Helvetica;
  font-weight: 800;
  color: #2222221a;
  font-size: 72px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 25px;
  left: 38px;
  font-family: 'Nunito', Helvetica;
  font-weight: 700;
  color: #3e3f43;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-8 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 34px;
  left: 0;
}

.desktop .line {
  width: 202px;
  top: 48px;
  left: 296px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.desktop .div-3 {
  position: relative;
  width: 1152px;
  height: 455px;
}

.desktop .overlap-3 {
  position: relative;
  width: 1154px;
  height: 455px;
}

.desktop .group-9 {
  position: absolute;
  width: 1154px;
  height: 455px;
  top: 0;
  left: 0;
}

.desktop .group-wrapper {
  position: absolute;
  width: 1152px;
  height: 455px;
  top: 0;
  left: 0;
}

.desktop .group-10 {
  position: relative;
  height: 455px;
}

.desktop .pexels-photo {
  width: 508px;
  left: 644px;
  position: absolute;
  height: 455px;
  top: 0;
}

.desktop .pexels-photo-2 {
  width: 644px;
  left: 0;
  position: absolute;
  height: 455px;
  top: 0;
}

.desktop .text-wrapper-12 {
  position: absolute;
  top: 415px;
  left: 524px;
  font-family: 'Nunito', Helvetica;
  font-weight: 600;
  color: #8d8d8d;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-5 {
  display: inline-flex;
  align-items: flex-end;
  gap: 52px;
  position: absolute;
  top: 232px;
  left: 107px;
}

.desktop .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
}

.desktop .group-11 {
  position: relative;
  width: 194px;
  height: 33px;
  margin-right: -2px;
}

.desktop .text-wrapper-13 {
  position: relative;
  width: fit-content;
  font-family: 'Nunito', Helvetica;
  font-weight: 400;
  color: #8d8d8d;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: 'Nunito', Helvetica;
  font-weight: 600;
  color: #333333;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .line-2 {
  width: 708px;
  top: 207px;
  left: 108px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.desktop .group-12 {
  position: absolute;
  width: 1154px;
  height: 174px;
  top: 0;
  left: 0;
}

.desktop .overlap-4 {
  position: relative;
  width: 1152px;
  height: 174px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.desktop .subscribe-to-our {
  position: absolute;
  width: 493px;
  top: 53px;
  left: 107px;
  font-family: 'Nunito', Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .span {
  font-weight: 700;
}

.desktop .text-wrapper-15 {
  font-size: 16px;
}

.desktop .group-13 {
  position: absolute;
  width: 452px;
  height: 40px;
  top: 67px;
  left: 600px;
}

.desktop .overlap-group-5 {
  width: 448px;
  position: relative;
  height: 40px;
}

.desktop .rectangle {
  width: 355px;
  left: 0;
  position: absolute;
  height: 40px;
  top: 0;
}

.desktop .text-wrapper-16 {
  position: absolute;
  top: 9px;
  left: 16px;
  font-family: 'Nunito', Helvetica;
  font-weight: 400;
  color: #afafaf;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-2 {
  width: 120px;
  left: 328px;
  position: absolute;
  height: 40px;
  top: 0;
}

.desktop .text-wrapper-17 {
  position: absolute;
  top: 9px;
  left: 352px;
  font-family: 'Nunito', Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
