* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-grey: lightgrey;
  --button-color-blue: blue;
  --font-color-white: white;
  --font-color-blue: blue;
  --font-color-red: red;
  --border-color-black: black;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  width: 50%;
  margin: 15vh auto;
}

h1 {
  text-align: center;
}

.important {
  color: var(--font-color-red);
}

.form,
.output {
  border: 1px solid var(--border-color-black);
  padding: 10px;
}

.form {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.output {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sector {
  background-color: var(--bg-color-grey);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.sector > * {
  margin-bottom: 5px;
}

.sector > p:not(.form .sector:last-of-type > p) {
  font-weight: 800;
}

input {
  border-radius: 5px;
}

.sector input[type='text'] {
  width: 35%;
  padding: 2.5px;
}

input[type='submit'] {
  width: 100%;
  padding: 7.5px;
  background-color: var(--button-color-blue);
  color: var(--font-color-white);
  border: none;
}

.output > p {
  color: var(--font-color-blue);
  font-weight: 800;
  margin-bottom: 5px;
}
