* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.image-gallery img {
  width: 100%;
}

.image {
  position: relative;
}

.image-description {
  position: absolute;
  text-align: center;
  line-height: 60vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 99%;
  bottom: 4px;
  display: none;
  overflow: hidden;
}

/*! HOVER*/
.image:hover > .image-description {
  display: block;
  animation-name: hover-effect;
  animation-duration: 0.5s;
  animation-delay: 0;
}

/*! Animations */
@keyframes hover-effect {
  from {
    height: 0;
  }
  to {
    height: 99%;
  }
}
