.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item p,
.item a {
  font-size: 1.5rem;
}

.item a {
  color: lightblue;
}

.item .image {
  width: 100%;
  background-color: white;
}

.item .image img {
  padding: 5%;
  width: 65%;
  height: 500px;
  object-fit: cover;
  transition: all linear 0.25s;
}

.item .image img:hover {
  transform: scale(1.1);
}
