.main {
  background-color: rgb(130, 114, 93);
  width: 75%;
  margin: 0 auto;
}

.main form,
.main .output {
  width: 85%;
  margin: 0 auto;
  padding: 25px;
}

.main form {
  display: flex;
  gap: 5px;
}

.main form input {
  width: 50%;
  padding: 5px;
}
