* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.outer-box {
  width: 350px;
  border: 1px #000 solid;
  padding: 25px;
  margin: 5px;
}

.inner-box {
  width: 100%;
  border: 2px #000 solid;
  padding: 25px;
  margin: auto;
  background-color: aquamarine;
}
