* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.form {
  width: 50%;
  margin: 5% auto;
  background-color: #282525;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
}

.sign-login {
  display: flex;
}

.sign-login a {
  text-decoration: none;
  color: #fff;
  width: 50%;
  text-align: center;
  background-color: #373333;
  padding: 5%;
  font-size: 1.5rem;
}

.sign-login .clicked {
  background-color: rgb(52, 158, 123);
}

.sign-login a:hover {
  background-color: rgb(11, 230, 77);
}

.form h1 {
  text-align: center;
  padding: 10%;
  color: #fff;
  font-size: 3rem;
}

.email,
.password,
.name,
.forgot-pass {
  margin-bottom: 7%;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  background-color: #282525;
  padding: 2%;
}

.name {
  display: flex;
  justify-content: space-between;
}

.name input {
  width: 49%;
}

.email input,
.password input {
  width: 100%;
}

.forgot-pass {
  display: flex;
  justify-content: flex-end;
}

.forgot-pass a {
  text-decoration: none;
  color: green;
}

input[type='submit'] {
  padding: 4%;
  text-align: center;
  width: 100%;
  background-color: rgb(52, 158, 123);
  color: #fff;
  font-size: 2rem;
  letter-spacing: 4px;
}
